<h1>ホーム</h1>
<p><%= notice %></p>
<table class = "timeline">
  <tr>
    <th>タイムライン</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td class = "content"><%= post.content %></td>
    <td><%= link_to '開く', post_path(post.id), class:"option" %></td>
    <td><%= link_to '編集', edit_post_path(post.id), class:"option", data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', post_path(post.id), class:"option", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'ツイートする', new_post_path, class:"link" %>
